<div class="task-list-container">
    <div class="heading">
        <h3>Tasks</h3>

        <div>
            <span class="status-dot in-progress"></span>In Progress
            <span class="status-dot completed"></span>Completed
        </div>
    </div>
    
    <table>
        <thead>
            <th>Task</th>
            <th>Status</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            <tr>
                <td><label><input type="checkbox" aria-label="Select task" checked/>Design wireframe</label></td>
                <td>Completed</td>
                <td>2025-10-10</td>
            </tr>
            <tr>
                <td><label><input type="checkbox" aria-label="Select task" />Develop frontend</label></td>
                <td>In progress</td>
                <td>2025-10-11</td>
            </tr>
            <tr>
                <td><label><input type="checkbox" aria-label="Select task" />Solve poverty</label></td>
                <td>In progress</td>
                <td>2025-10-12</td>
            </tr>
        </tbody>
    </table>
</div>
