<div class="task-list-container">
    <div class="heading">
        <h3>Tasks</h3>

        <div>
            <span class="status-dot in-progress"></span>In Progress
            <span class="status-dot completed"></span>Completed
        </div>
    </div>

    <table>
        <thead>
            <th>Task</th>
            <th>Status</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            @for (task of tasks; track task.id) {
                <tr>
                    <td>
                        <label class="{{ task.completed? 'completed-task' : '' }}">
                            <input type="checkbox" aria-label="Select task" [checked]="task.completed"
                            (click)="handleCheckbox(task.id)"/>{{ task.name }}
                        </label>
                    </td>
                    <td>
                        <span class="status-dot {{ task.completed ? 'completed' : 'in-progress'}}"></span>{{ task.completed ? 'Completed' : 'In Progress'}}
                    </td>
                    <td>
                        {{ task.dueDate | date: "YYYY-MM-dd"}}
                    </td>
                    <td (click)="deleteTask(task.id)">❌</td>
                    <td (click)="updateTask(task)">✏️</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="button-container">
		  <button (click)="showModal = true">Add New Task</button>
	  </div>
    @if(showModal) {
      <app-task-form (closePanel)="showModal = false; formType = 'CREATE'"
      [currentTask]="selectedTask"
      [formType]="formType"></app-task-form>
    }
</div>
